 <!-- Skills Section -->
 <section class="success" id="skillset">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">

                <span style="font-size: 3em; color: rgb(145, 200, 145);">
                    <i class="fab fa-html5"></i>
                </span>

                <span style="font-size: 3em; color: rgb(60, 140, 255);">
                    <i class="fab fa-css3-alt"></i>
                </span>

                <span style="font-size: 3em; color: rgb(255, 95, 70)">
                    <i class="fab fa-js"></i>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <span style="font-size: 3em; color: rgb(60, 0, 78);">
                    <i class="fab fa-bootstrap"></i>
                </span>

                <span style="font-size: 3em; color: rgb(82, 82, 82);">
                    <i class="fab fa-git-square"></i>
                </span>

                <span style="font-size: 3em; color: rgb(255, 211, 108);">
                    <i class="fab fa-linux"></i>
                </span>
            </div>
        </div>
    </div>
</section>