 <!-- Skills Section -->
 <section class="success" id="skillset">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="d-flex flex-column justify-content-center">
                <i class="fa fa-html5"></i>
                <i class="fa fa-css3-alt"></i>
                <i class="fa fa-js"></i>
            </div>
        </div>

        <div class="row">
            <div class="d-flex flex-column justify-content-center">

                <i class="fa fa-bootstrap"></i>
                <i class="fa fa-git-square"></i>
                <i class="fa fa-linux"></i>
            </div>
        </div>
    </div>
</section>