 <!-- Skills Section -->
 <section class="success" id="skillset">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
                <hr class="star-light">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="col-xs col-md-4" id="skill-icons">
                    <i class="fa fa-html5 fa-5x" title="HTML5"></i>
                </div>

                <div class="col-xs col-md-4" id="skill-icons">
                    <i class="fa fa-css3 fa-5x" title="CSS3"></i>
                </div>

                <div class="col-xs col-md-4" id="skill-icons">
                    <i class="js" title="JavaScript">
                        <img src="img/javascript.png"/>
                    </i>
                </div>

                <div class="col-xs col-md-4" id="skill-icons">
                    <i class="boots" title="Node.js">
                        <img src="img/npm.png"/>
                    </i>
                </div>
            </div>
        </div>
                
        <div class="row" style="margin-top: 4rem">
            <div class="col-lg-12 text-center">
                <div class="col-xs col-md-4" id="skill-icons">
                    <i class="boots" title="Bootstrap">
                        <img src="img/boots.png"/>
                    </i>
                </div>

                <div class="col-xs col-md-4" id="skill-icons">
                    <i class="boots" title="Node.js">
                        <img src="img/node.png"/>
                    </i>
                </div>

                <div class="col-xs col-md-4" id="skill-icons">
                    <i class="fa fa-git-square fa-5x" title="Git & Github"></i>
                </div>

                <div class="col-xs col-md-4" id="skill-icons">
                    <i class="fa fa-linux fa-5x" title="Linux (Xubuntu)"></i>
                </div>
            </div>
        </div>
    </div>
</section>